<header class="header-section">
        <nav>
            <div class="logo-division">
                <a class="logo-text" href="/home">Backend Twitter Exercise <i class="fab fa-twitter"></i></a>
            </div>
        </nav>
</header>