<header class="header-section">
        <nav>
            <div class="logo-division">
                <a class="logo-text" href="/home"><i class="fab fa-twitter"></i> Backend Twitter Exercise </a>
            </div>
            <div class="redis-division">
                <a class="redis-text" href="/redisData">  
                    <img class="redis-image" src="./images/redis.png" alt="redis-logo" ><p> Redis Data</p>
                </a>
            </div>
        </nav>
</header>