<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Twitter Exercise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" href="./images/twitter.png">
</head>
  <body>
    {{>navbar}}
    {{{body}}}
    {{>footer}}
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </body>
</html>
