<section class="home-section">
    <div class="subject-division">
        <h2 class="subject-text">Tweets Searcher</h2>
    </div>
    <div class="search-bar-division">
        <form method="GET" action="/results">
            <div class="search-bar">
                <i class="fab fa-twitter twitter-logo"></i>
                <input class="search-input" type="text" name="keyword" id="keyword">
                <button class="submit-button" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>
</section>